@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    background-color: black;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button{

    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;

}


h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00ff08
}

/* HEADER CONFIGS */

header{
    padding: 40px  4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* Estilo do Topo do site */

section.topo-site{
    padding: 40px 4%;

}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
}

.topo-site .txt-topo-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span{
    color: #00ff08;
}

.topo-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}


.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES*/

section.especialidades{
    padding: 40px;


}

section.especialidades .flex{
    gap: 60px;
    
}

.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #5c5c5c;
}

.especialidades .especialidades-box i{
    color: #00ff08;
    font-size: 70px;
    
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* SOBRE MIM */

section.sobre{
    padding: 80px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;

}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #008504;
    transform: scale(1.05);
}

/* PORTIFOLIO */
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #5c5c5c44;

}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;

}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 0% 100%;
    transition: .8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006e;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* FALA AI */
section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


form input, form textarea{
    width: 100%;
    background-color: #5e5d5d6e;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    margin-top: 40px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input{
    width: 120px;
    background-color: #00ff08;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* FOOTER */

footer{
    padding: 60px 4%;
    box-shadow: #0000006e;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #00ff08;
}

footer .line-footer p i{
    color: #00ff08;
    font-size: 22px;

}

footer .line-footer p a{
    color: white;
}

@media screen and (max-width:1020px){
    .menu-desktop, .btn-contato{
        display: none;
    }

    .flex{ 
        flex-direction: column;
    }

    .topo-site .flex{
        flex-direction: column-reverse;
    }

    .topo-site h1{
        font-size: 30px;
    }
    
    section.topo-site{
        padding: 20px 8%;
    }

    .topo-site .img-topo-site img{
        width: 100%;
    }

    section.topo-site .flex{
        gap: 40px
    }

    section.especialidades{
        padding: 40px 8%;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    img-sobre img{
        width: 100%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex{
        gap: 60px
    }

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }   

}